
.desktop-only {
  display: block;
}
  
.mobile-only {
  display: none !important;

}

@media(max-width:767px) {
  .desktop-only {
    display: none !important;
  }
  
  .mobile-only {
    display: flex !important;
  }
}